//----------------------------------------------------------------------------
//  Anchor
//----------------------------------------------------------------------------
a {
}

//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  background: aliceblue;
  color: $blackMedium;
  font-family: $bodyFont;
  font-size: 14px;
  height: 100%;
}

//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1,
h2 {
  color: $grayDark;
  font-family: $bodyFont;
  font-size: 1.25rem;
}
h3,
h4,
h5,
h6 {
  font-family: $bodyFont;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {
  height: 100%;
}

//----------------------------------------------------------------------------
//  Image
//----------------------------------------------------------------------------
img {
}

//----------------------------------------------------------------------------
//  Input
//----------------------------------------------------------------------------

input {
}

//----------------------------------------------------------------------------
//  Lists
//----------------------------------------------------------------------------
li {
}

ol {
}

ul {
}

//----------------------------------------------------------------------------
//  Paragraph
//----------------------------------------------------------------------------
p {
}

p + p {
}

//----------------------------------------------------------------------------
//  Section Elements
//----------------------------------------------------------------------------
footer {
  background: #a8c3e6;
  flex-shrink: 0;
  margin: 0 0 0 -50%;
  text-align: center;
  width: 200%;
}

header {
  padding: 50px 0 30px;
  position: relative;
  text-align: center;
  &:before {
    background: #a8c3e6;
    content: "";
    height: 20px;
    left: -50%;
    position: absolute;
    top: 0;
    width: 200%;
  }
}

main {
  flex: 1 0 auto;
}

nav {
  padding: 30px 0;
  text-align: center;
}

section {
}

//----------------------------------------------------------------------------
//  Span
//----------------------------------------------------------------------------
span {
}
