//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  background: aliceblue;
  color: $blackMedium;
  font-family: $bodyFont;
  font-size: 14px;
  height: 100%;
}

//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1,
h2 {
  color: $grayDark;
  font-family: $bodyFont;
  font-size: 1.45rem;
}
h3,
h4,
h5,
h6 {
  font-family: $bodyFont;
  font-weight: 400;
}

h1 {
  font-size: 0.875rem;
  @include responsive(large) {
    font-size: 2rem;
  }
}

//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {
  height: 100%;
}

//----------------------------------------------------------------------------
//  Image
//----------------------------------------------------------------------------
img {
  height: 100%;
  width: auto;
}

img.x-axis {
  height: auto;
  width: 100%;
}

//----------------------------------------------------------------------------
//  Input
//----------------------------------------------------------------------------
input::placeholder {
  font-size: 0.75rem;
}

//----------------------------------------------------------------------------
//  Section Elements
//----------------------------------------------------------------------------
footer {
  background: #a8c3e6;
  margin: 0 0 0 -50%;
  text-align: center;
  width: 200%;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  place-items: center left;
  position: relative;
  &:before {
    background: #a8c3e6;
    content: "";
    height: inherit;
    left: -50%;
    position: absolute;
    top: 0;
    width: 200%;
    z-index: -1;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  place-items: center center;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  place-items: center center;
}
