.y-home {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.y-stats {
  display: flex;
  justify-content: space-between;
}

.y-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}
