//----------------------------------------------------------------------------
//  Common
//----------------------------------------------------------------------------
.error,
.loading {
  background-color: crimson;
  color: white;
  padding: 16px 20px;
  position: absolute;
  text-align: center;
  top: 16%;
  width: 100%;
}

.loading {
  background-color: aliceblue;
  color: black;
}

//----------------------------------------------------------------------------
//  Footer
//----------------------------------------------------------------------------
.github-icon {
  width: 30px;
}

//----------------------------------------------------------------------------
//  Background Image
//----------------------------------------------------------------------------
.nimg {
  height: 100%;
  position: relative;
  width: 100%;
  &:after {
    background: url(assets/field-and-clouds.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    left: -50%;
    position: absolute;
    top: 0;
    width: 200%;
    z-index: -1;
  }
}

//----------------------------------------------------------------------------
//  Search Input Box
//----------------------------------------------------------------------------
.search {
  grid-area: 1 / 2 / 1 / 4;
  position: relative;
  width: 100%;
  @include responsive(small) {
    grid-area: 1 / 3 / 1 / 3;
  }
}

input {
  .search & {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #aaa;
    font-size: 1.35rem;
    margin: 16px 0;
    padding: 10px 8px;
    text-align: center;
    width: 100%;
    @include responsive(large) {
      font-size: 1.85rem;
    }
  }
}

.reset {
  color: crimson;
  cursor: pointer;
  font-size: 2.35rem;
  left: 12px;
  line-height: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//----------------------------------------------------------------------------
//  Weather Data Grid
//----------------------------------------------------------------------------
.weather {
  background-color: transparent;
  bottom: 0;
  display: grid;
  font-size: 1.25rem;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
  left: 0;
  padding: 20px 0;
  place-items: center center;
  position: absolute;
  top: 0;
  width: 100%;
  @include responsive(small) {
    left: 50%;
    transform: translateX(-50%);
    width: 514px;
  }
  @include responsive(medium) {
    font-size: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    left: 0;
    transform: none;
    width: 100%;
  }
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, 26%) auto;
  place-items: center center;
  text-align: center;
  width: 100%;
}

h2 {
  .weather-card & {
    align-items: center;
    background: #d68e1a;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}

div {
  .weather-card & {
    padding: 18px 18px;
    @include responsive(medium) {
      font-size: 1.45rem;
      padding: 0 18px;
    }
    @include responsive(medium) {
      font-size: 1.85rem;
      padding: 0 24px;
    }
  }
}
