@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300|Proza+Libre:400,400i&display=swap");

//----------------------------------------------------------------------------
//  Animations
//----------------------------------------------------------------------------
// $animate: 0.2s;

//----------------------------------------------------------------------------
//  Backgrounds
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//  Colors
//----------------------------------------------------------------------------
$blackMedium: #393939;
$grayDark: #646464;

//----------------------------------------------------------------------------
//  Font Families
//----------------------------------------------------------------------------
$titleFont: "Cormorant Garamond", serif;
$bodyFont: "Proza Libre", sans-serif;

//----------------------------------------------------------------------------
//  Font Sizes
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//  Font Weights
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//  Responsive Breakpoints
//----------------------------------------------------------------------------
$small: 568px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
