//----------------------------------------------------------------------------
//  Animations
//----------------------------------------------------------------------------
$animate: 0.2s;

//----------------------------------------------------------------------------
//  Backgrounds
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//  Colors
//----------------------------------------------------------------------------
$black80: #4a4a4a;
$gray10: #dee0e2;
$gray30: #848484;

//----------------------------------------------------------------------------
//  Font Families
//----------------------------------------------------------------------------
$font1: "Arial", sans-serif;
$font2: "Courier", sans-serif;

//----------------------------------------------------------------------------
//  Font Sizes
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//  Font Weights
//----------------------------------------------------------------------------

//----------------------------------------------------------------------------
//  Responsive Breakpoints
//----------------------------------------------------------------------------
$small: 568px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
